Hello {{ ansible_user }} at {{ hostname.stdout }}!

This document was generated from the template located at {{ template_fullpath }} at {{ template_run_date }}.

Ansible version information:
{% for key, value in ansible_version.items() %}
- {{ key | capitalize }}, {{ value }}
{% endfor %}

{% if (ansible_version.major >= 2) and (ansible_version.minor >= 8) %} {#- if template_destpath is defined would likely work too -#}
This playbook is running on Ansible 2.8 or higher, so as a result this file is located at {{ template_destpath }}
{% else %}
It looks like this playbook isn't being run in Ansible 2.8 or higher, so the destination of this file can't be shown.
{% endif %}

Here's a bit of random Lorem Ipsum to pad out the file:
{{ lipsum(2, false) }}
